<div class="note-form-container" *ngIf="noteFormGroup">
  <form [formGroup]="noteFormGroup">
    <div class="form-group">
      <label for="title">Title</label>
      <input id="title" class="form-control" type="text" formControlName="title">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="6" formControlName="description"></textarea>
    </div>
  </form>

  <button id="addNote" mat-raised-button color="primary" type="submit" (click)="saveOrUpdateNote()">Save note</button>
</div>
