<div class="wrapper">

  <div class="form-group">
    <label for="filter">Filter</label>
    <input id="filter" class="form-control" type="text" #filter (keyup)="filterList(filter.value)" (keydown)="resetFullList(filter.value)">
  </div>

  <div class="cards-list">
    <mat-card *ngFor="let note of filteredNoteList">
      <p>{{note.title}} </p>
      <p>{{note.description}}</p>
      <div class="form-group">
        <button mat-mini-fab color="accent" (click)="goToEditPage(note.id)">
          M
        </button>
        <button mat-mini-fab color="warn" (click)="deleteNote(note.id)">
          X
        </button>
      </div>
    </mat-card>
  </div>

  <button id="addNote" mat-raised-button color="primary" (click)="goToNewPage()">+ Add</button>

</div>
